accelerate
certifi
charset-normalizer
diffusers
einops
filelock
fsspec
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib-metadata
jinja2
markupsafe
mpmath
networkx
numpy
packaging
pillow
psutil
pyyaml
regex
requests
safetensors
sentencepiece
sympy
tokenizers
torch
torchvision
tqdm
transformers
triton
typing-extensions
urllib3
zipp
wandb
python-dotenv


